<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/position.css">		
		<script type="text/javascript" src="../js/vue.js"></script>
		<script src="../js/position.js" ></script>
		<script src="../js/worldPlace.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cc943cd91751836ffd4a3584a719d3ac"></script>
	</head>
	<body style="background-color: #e2e0e2;height:100%;">
		<div id="navi" ref="app" style="display: none">
		<!-- 创建一个展示地图的容器<div id="container"></div>使其大小为0，从而达到不显示地图的效果 -->
			<div id="container" style="width:0;height:0;"></div>
			<!-- 当前 -->
			<div >当前</div>
			<div id="navi1" ><div class="frame" id="currentPosition"></div></div>
			<!-- 历史选择 -->
			<div id="his" style="clear:both;" v-show="l">历史选择</div>
			<div id="navi2">
				<div class = "frame1" v-for="(history,m) in historys" v-on:click="change1(m)">{{ history }}</div>
			</div>
			<!-- 热门城市 -->
			<!--vue.js的注意事项：渲染语句不能与绑定的id同级放置-->
			<div style="clear:both;">热门城市</div>
			<div id="navi3" >						
					<a>
						 <div class="frame" v-for="(city,k) in citys" v-on:click="change(k)">{{ city.text }}</div>
						
					</a>		
			</div>
			<!-- 世界城市名列表 -->
			<div id="world">
				<div style="clear:both;">A</div>
				<div id="navi4" ><span class="citySpan">阿坝</span>
					<span class="citySpan">阿坝</span>
					<span class="citySpan">阿坝</span>			
					<span class="citySpan">阿坝</span>
					<span class="citySpan">阿坝</span>
					<span class="citySpan">阿坝</span>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cc943cd91751836ffd4a3584a719d3ac"></script>
		<script>
			var map = new AMap.Map('container');
			map.plugin('AMap.CitySearch',function(){
				var city = new AMap.CitySearch();
				city.getLocalCity();
				AMap.event.addListener(city,'complete',function(data){
					document.getElementById('currentPosition').innerHTML = data.city;
				});
				
				
			});

		</script>	
	</body>
</html>